<?xml version="1.0"?>

<robot name="jamal_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="stick_mass" value="0.00001"/>

    <!-- simplified collision value -->
    <xacro:property name="trunk_width" value="0.0935"/>
    <xacro:property name="trunk_length" value="0.3762"/>
    <xacro:property name="trunk_height" value="0.114"/>
    <xacro:property name="hip_radius" value="0.046"/>
    <xacro:property name="hip_length" value="0.04"/>
    <xacro:property name="thigh_shoulder_radius" value="0.041"/>
    <xacro:property name="thigh_shoulder_length" value="0.032"/>
    <xacro:property name="thigh_width" value="0.0245"/>
    <xacro:property name="thigh_height" value="0.034"/>
    <!-- <xacro:property name="thigh_x_offset" value="0.0"/> -->
    <xacro:property name="calf_width" value="0.016"/>
    <xacro:property name="calf_height" value="0.016"/>
    <!-- <xacro:property name="calf_x_offset" value="0.0"/> -->
    <xacro:property name="foot_radius" value="0.017"/>
    <xacro:property name="stick_radius" value="0.01"/>
    <xacro:property name="stick_length" value="0.2"/>
    <xacro:property name="toe_friction" value="0.2"/>
    <xacro:property name="toe_lateral_friction" value="0.2"/>
    <xacro:property name="toe_stiffness" value="30000.0"/>
    <xacro:property name="toe_damping" value="1000.0"/>

    <!-- kinematic value -->
    <xacro:property name="thigh_offset" value="0.10755"/>
    <xacro:property name="thigh_length" value="0.225"/>
    <!-- <xacro:property name="calf_length" value="0.235"/> -->
    <xacro:property name="calf_length" value="0.250"/>

    <!-- leg offset from trunk center value -->
    <xacro:property name="leg_offset_x" value="0.2699"/>
    <xacro:property name="leg_offset_y" value="0.08028"/>
    <!-- <xacro:property name="trunk_offset_z" value="0.01675"/> -->
    <xacro:property name="hip_offset" value="0.0"/>

    <!-- offset of link and rotor locations (left front) -->
    <!-- <xacro:property name="hip_offset_x" value="0.2699"/>
    <xacro:property name="hip_offset_y" value="0.08028"/>
    <xacro:property name="hip_offset_z" value="0.0"/>
    <xacro:property name="hip_rotor_offset_x" value="0.2119"/>
    <xacro:property name="hip_rotor_offset_y" value="0.08028"/>
    <xacro:property name="hip_rotor_offset_z" value="0.0"/>

    <xacro:property name="thigh_offset_x" value="0"/>
    <xacro:property name="thigh_offset_y" value="0.10755"/>
    <xacro:property name="thigh_offset_z" value="0.0"/>
    <xacro:property name="thigh_rotor_offset_x" value="0.0"/>
    <xacro:property name="thigh_rotor_offset_y" value="-0.0295"/>
    <xacro:property name="thigh_rotor_offset_z" value="0.0"/>

    <xacro:property name="calf_offset_x" value="0.0"/>
    <xacro:property name="calf_offset_y" value="0.0"/>
    <xacro:property name="calf_offset_z" value="-0.225"/>
    <xacro:property name="calf_rotor_offset_x" value="0.0"/>
    <xacro:property name="calf_rotor_offset_y" value="0.0"/>
    <xacro:property name="calf_rotor_offset_z" value="0.0"/> -->

    <!-- joint limits -->
    <xacro:property name="damping" value="0.01"/>
    <xacro:property name="friction" value="0.2"/>
    <xacro:property name="hip_max" value="25"/>
    <xacro:property name="hip_min" value="-25"/>
    <xacro:property name="hip_velocity_max" value="8"/>
    <xacro:property name="hip_torque_max" value="48"/>
    <xacro:property name="thigh_max" value="90"/>
    <xacro:property name="thigh_min" value="-90"/>
    <xacro:property name="thigh_velocity_max" value="8"/>
    <xacro:property name="thigh_torque_max" value="48"/>
    <xacro:property name="calf_max" value="153"/>
    <xacro:property name="calf_min" value="-153"/>
    <xacro:property name="calf_velocity_max" value="8"/>
    <xacro:property name="calf_torque_max" value="48"/>

    <!-- dynamics inertial value        total 12.84kg -->
    <!-- trunk -->
    <xacro:property name="trunk_mass" value="12.8185384756311"/>
    <xacro:property name="trunk_com_x" value="0"/>
    <xacro:property name="trunk_com_y" value="0"/>
    <!-- <xacro:property name="trunk_com_z" value="-0.0005"/> -->
    <xacro:property name="trunk_com_z" value="0.0"/>
    <xacro:property name="trunk_ixx" value="0.0565667940678376"/>
    <xacro:property name="trunk_ixy" value="-8.54731557026013E-06"/>
    <xacro:property name="trunk_ixz" value="3.411601276539E-05"/>
    <xacro:property name="trunk_iyy" value="0.0364645326398335"/>
    <xacro:property name="trunk_iyz" value="-4.86965244292946E-06"/>
    <xacro:property name="trunk_izz" value="0.0737588756462406"/>

    <!-- hip (left front) -->
    <xacro:property name="hip_mass" value="0.933762854916433"/>
    <!-- <xacro:property name="hip_com_x" value="-0.005657"/>
    <xacro:property name="hip_com_y" value="-0.008752"/>
    <xacro:property name="hip_com_z" value="-0.000102"/> -->
    <xacro:property name="hip_com_x" value="0.0"/>
    <xacro:property name="hip_com_y" value="0.0"/>
    <xacro:property name="hip_com_z" value="0.0"/>
    <xacro:property name="hip_ixx" value="0.000832273911083319"/>
    <xacro:property name="hip_ixy" value="2.01742652907359E-06"/>
    <xacro:property name="hip_ixz" value="-9.96248193966734E-07"/>
    <xacro:property name="hip_iyy" value="0.00106512043176046"/>
    <xacro:property name="hip_iyz" value="-3.27660400510853E-06"/>
    <xacro:property name="hip_izz" value="0.000803680416601427"/>


    <!-- thigh -->
    <xacro:property name="thigh_mass" value="1.32134262348697"/>
    <!-- <xacro:property name="thigh_com_x" value="-0.003342"/>
    <xacro:property name="thigh_com_y" value="-0.018054"/>
    <xacro:property name="thigh_com_z" value="-0.033451"/> -->
    <xacro:property name="thigh_com_x" value="0.0"/>
    <xacro:property name="thigh_com_y" value="0.0"/>
    <xacro:property name="thigh_com_z" value="0.0"/>
    <xacro:property name="thigh_ixx" value="0.00262880898900224"/>
    <xacro:property name="thigh_ixy" value="3.0753036678596E-07"/>
    <xacro:property name="thigh_ixz" value="-6.6121911239445E-05"/>
    <xacro:property name="thigh_iyy" value="0.00316091750463634"/>
    <xacro:property name="thigh_iyz" value="4.01609105247509E-05"/>
    <xacro:property name="thigh_izz" value="0.00121962195056961"/>


    <!-- calf -->
    <xacro:property name="calf_mass" value="0.12879265462489"/>
    <!-- <xacro:property name="calf_com_x" value="0.006197"/>
    <xacro:property name="calf_com_y" value="0.001408"/>
    <xacro:property name="calf_com_z" value="-0.116695"/> -->
    <xacro:property name="calf_com_x" value="0.0"/>
    <xacro:property name="calf_com_y" value="0.0"/>
    <xacro:property name="calf_com_z" value="0.0"/>
    <xacro:property name="calf_ixx" value="0.000445341853265945"/>
    <xacro:property name="calf_ixy" value="-7.71823686634482E-09"/>
    <xacro:property name="calf_ixz" value="7.55836697902452E-05"/>
    <xacro:property name="calf_iyy" value="0.000465686753688402"/>
    <xacro:property name="calf_iyz" value="4.84096470394828E-09"/>
    <xacro:property name="calf_izz" value="2.34278965180016E-05"/>


    <!-- foot -->
    <xacro:property name="foot_mass" value="0.06"/>

</robot>
